[Unit]
Description=Automatic Updater
After=docker.service
Wants=network-online.target
Requires=docker.service

[Service]
User=root
Group=root
WorkingDirectory=/path/to/docker-compose/directory
ExecStart=/usr/bin/git pull
ExecStart=/usr/bin/docker-compose pull
ExecStart=/usr/bin/docker-compose up -d
Type=oneshot

[Install]
WantedBy=multi-user.target
